/*CSS DOCUMENT*/

/* INTRO PAGE */


.abouttext {
    margin-left: auto;
    margin-right: auto;
    line-height: 24px;
    width: 80%;
    text-align: center;
}

.intro {
    background-color: #ffffff;
    padding: 1em;
    margin: auto;
    border-bottom: 1px solid;
    border-color: #1c1c1c;
    margin-bottom: 3em;
}

.introimage {
    display: block;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 1em;
}

.topnav {
    background-color: #ffffff;
    overflow: hidden;
    margin-bottom: 1em;
    font-family: basic-sans, sans-serif;
    font-weight: 100;
    font-style: normal;
    float: right;
}

.topnav a {
    float: right;
    color: #3b3d3c;
    text-align: center;
    padding: 10px 10px 10px 10px;
    text-decoration: none;
    font-size: .75em;
    letter-spacing: 2px;
}

/* LOCATIONS STYLE */

.locationone {
    background-color: #ffffff;
    padding: 1em;
    margin: 1em;
    border-top: 1px solid;
    border-color: #1c1c1c;
    text-align: center;
}

.locationtwo {
    background-color: #ffffff;
    padding: 1em;
    margin: 1em;
    border-top: 1px solid;
    text-align: center;
    width: 40
}

.locationthree {
    background-color: #ffffff;
    padding: 1em;
    margin: 1em;
    border-color: #1c1c1c;
    text-align: center;
}

.locationimages {
    display: block;
    width: 90%;
    padding-top: 1em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}


/* HOME PAGE STYLE */

.homeimage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    padding-bottom: 2em;
    padding-top: 2em;
}

.introhome {
    border-bottom: 1px solid;
    border-color: black;
}

/* MENU STYLE */
.oneimage {
    display: block;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-bottom: 2em;
}

.logomenu {
    align-content: left;
    width: 25%;
    padding: 5px 0px 10px 12px;
}

span {
    font-size: 20px;
    text-align: center;
    margin-left: 1em;
    margin-right: 1em;
}

.intromenu {
    padding-bottom: 10px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.itemsone {
    padding: 1em 1em 1em 1em;
    margin: auto;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: #1c1c1c;
}

.itemstwo {
    padding: 1em 1em 1em 1em;
    margin: auto;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: #1c1c1c;
}

.itemsthree {
    padding: 1em 1em 1em 1em;
    margin: auto;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: #1c1c1c;
}

.itemsfour {
    padding: 1em 1em 1em 1em;
    margin: auto;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: #1c1c1c;
}

ul {
    font-family: bilo, sans-serif;
    font-weight: 100;
    font-style: normal;
    text-align: center;
    list-style-type: none;
    padding-bottom: 2px;
    margin-left: -30px;
}


/* GENERAL STYLE */

h1 {
    font-family: bilo, sans-serif;
    font-weight: 800;
    font-style: normal;
    text-align: center;
}

h2 {
    font-family: bilo, sans-serif;
    font-weight: 200;
    font-style: normal;
    text-align: center;
    align-content: center;
}

h3 {
    text-align: center;
    font-family: bilo, sans-serif;
    font-style: normal;
    font-size: 1.250em;
    margin-bottom: 3px;
    display: inline;
}

h4 {
    font-family: bilo, sans-serif;
    font-weight: 100;
    font-style: normal;
    text-align: center;
}

h5 {
    font-family: bilo, sans-serif;
    font-weight: 100;
    font-style: normal;
    text-align: center;
}

h6 {
    text-align: center;
    font-family: bilo, sans-serif;
    font-weight: 100;
    font-style: normal;
    padding-top: 2em;
}

p {
    font-family: bilo, sans-serif;
    font-weight: 100;
    font-style: normal;
    text-align: center;
    display: inline;
}