/* CSS DOCUMENT */

h1 {
    font-family: sans-serif;
    text-align: center;
    margin-top: 60px;
}

h2 { 
    font-family: sans-serif;
    text-align: center;
    margin-bottom: 2em;
}

h3 {
    font-family: sans-serif;
    text-align: center;
    margin-top: 2em;
    margin-bottom: -1em;
    text-transform: uppercase;
    color: #3e4f59;
}

h4 { 
    font-family: sans-serif;
    text-align: center;
}

p { 
    text-align: center;
}

ul {
  display: inline;
  margin-left: 50em;
  transform: translateX(-80%);
}