/*CSS DOCUMENT*/


body {
  background-color:#e4ebed;
}
img { 
width: 100%;
}

div.container {  
    max-width: 60em;
    margin: auto;
    border-top: 4em;
    padding: 3em;
    background-color: #ffff;
} 

div.intro {
    text-align: center;
    font-family: bilo,sans-serif;
    font-weight: 100;
    font-style: normal;
    margin-bottom: 3em;
}

h1 { 
    font-family: bilo,sans-serif;
    font-weight: 800;
    font-style: normal;
    text-align: center;
}

h2 {
    font-family: bilo,sans-serif;
    font-weight: 200;
    font-style: normal;
    text-align: center
}

h3 {
    text-align: left;
    font-family: bilo,sans-serif;
    font-style: normal;
    font-size: 21px;
}

h6 {
    text-align: center;
    font-family: bilo,sans-serif;
    font-weight: 100;
    font-style: normal;
    padding-top: 2em;
}

div.maincontent {
    font-family: bilo,sans-serif;
    font-weight: 200;
    font-style: normal;
    text-align: left;
}